<%- include('../partials/header'); %>
   <title>Edit Tickets</title>
</head>
<body class="greenBackground">

  <section>
    <header class="logOut">
      <form action="/logout" method="get">
        <a href="/logout"><strong>Log Out</strong></a>    
      </form>
      </header> 
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-16 col-md-12 col-lg-12 col-xl-12">
          <div class="card shadow-2-strong"  style="background-color: #f9f6f3c0; border-radius: 1rem;"> 
            <div class="card-body p-2 text-center">
  
  <h1>Edit Ticket</h1>
  <table class="table table-bordered">

    <tr style="background-color:#DEDDDC;">
            <th>Title</th>
            <th>Description</th>
              <th>
                Urgency
              </th>
            <th>Created by</th>
            <th>Contact</th>
            <th>
             Status
            </th>
            <th>
               Date
           </th>
         
  
    </tr>
    <% tickets.forEach(function(ticket) {  %>
        <form action="/editMenu" method="post">
    <tr>
      <td> 
          <%= ticket.title %>
        
            <button type="submit" name="title" value="<%= ticket._id %>$title" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black"> edit </button>
    </td>
    <td >
           <%= ticket.description %>
        
           <button type="submit" name="description" value="<%= ticket._id %>$description" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black"> edit </button>
    </td>
    
    <td> 
   
            <select name="urgencyUpdate" >
                
                <option value="" class="form-select" disabled selected hidden> <%= ticket.urgency.substr(1) %></option>
                    <optgroup label="Update Urgency"></optgroup>
                    <option value="1high" name="high">high</option>
                    <option value="2medium" name="medium">medium</option>
                    <option value="3low" name="low">low</option>                
            </select>
            <input formaction="/updateUrgency/?ticketID=<%= ticket._id %>" type="submit" value="update" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black">
          
        
    </td>
    
    <td> 
          <%= ticket.createdBy %>
       
          <button type="submit" name="createdBy" value="<%= ticket._id %>$createdBy" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black"> edit </button>
    </td> 

    <td> 
        <%= ticket.contact %>
     
        <button type="submit" name="contact"  value="<%= ticket._id %>$contact"class="btn btn-secondary btn-sm"style="background-color: transparent; color:black" > edit </button>
    </td>
      <td> <%= ticket.status %></td>
      <td><%= ticket.createdAt.toString().substr(0,15)%></td>

      <% }) %>

    </tr>
        </form>
  </table>


        <br>
        <br>
 <% tickets.forEach(function(ticket) {  %>
<!-- <form action="/editTicketSections/?ticketID=<%= ticket._id %>" method="post"> -->
        <% if( editOption === 'title'){ %>
        <form action="/updateTitle/?ticketID=<%= ticket._id %>" method="post">
           <label for="title"> Title:  </label> 
           <input type="text" name="UptdTitle"  placeholder="<%= ticket.title %>"> 
            <button type="submit" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black"> update </button>
        </form>

        <%  }  else if( editOption ==='description'){ %>
            <form action="/updateDescription/?ticketID=<%= ticket._id %>" method="post">
              <label for="description"> Description:  </label> 
                <input type="text" name="UptdDescription" placeholder="<%= ticket.description %>">
                <button type="submit" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black" > update </button>
            </form>

         <%  } else if( editOption ==='createdBy'){ %>

            <form action="/updateCreatedBy/?ticketID=<%= ticket._id %>" method="post">
              <label for="createdBy"> Created By:  </label> 
                <input type="text" name="UptdCreatedBy" placeholder="<%= ticket.createdBy %>">
                <button type="submit" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black" > update </button>
            </form>

        <%  }  else if( editOption ==='contact'){ %>

            <form action="/updateContact/?ticketID=<%= ticket._id %>" method="post">
              <label for="contact"> Contact:  </label> 
                <input type="text" name="UptdContact" placeholder="<%= ticket.contact %>">
                <button type="submit"  class="btn btn-secondary btn-sm"style="background-color: transparent; color:black"> update </button>
            </form>
            <%  }    %>
            <form action="/updateDelete" method="post">
              <button type="submit" class="btn btn-success "  name="deleteBTN" value="<%= ticket._id %>" style="background-color:#9370db;">DELETE</button>
            </form>
            <br>
            <form action="/return" method="post">
              <button type="submit" class="btn btn-success " name="returnBtn" value="<%=role%>" style="background-color:#9370db;"> Cancel</button>
          </form>
          <% }) %>

           
    </div>
</div>
</div>
</div>
</div>
</div>
</section>

</body>
</html>
