
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>

    <style>
        *{
            text-align: center;
        }
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
    
        </style>
</head>
<body>
    <h1> Manage Users  </h1>

    <!-- filter dropdown  -->
    <form  action="/filterUsers" method="post">
        <select class="selectpicker" data-style="btn-info" name="filter" >
               
                <option value="" disabled selected hidden></option>
                <optgroup label="Filter By"></optgroup>
                <optgroup label="Role"></optgroup>
                <option name="user" value="user">user</option>
                <option name="admin" value="admin">admin</option>
                <option name="owner" value="owner">owner</option>
                <optgroup label="Other"></optgroup>
                <option name="alphabetical" value="az">A-Z</option>
                <option name="alphabetical" value="all">none</option>
            
        </select>
        <input type="submit" value="Apply"/> 
    </form>

    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Role </th>

        </tr>
        <% ListOfUsers.forEach( function(user) {  %>
        <tr>
            <td><%= user.FirstName %></td>
            <td><%= user.LastName %></td>
            <td><%= user.username %></td>
            
           
            <td> 
                <form  action="/ManageUsers" method="post">
                    <select class="selectpicker" data-style="btn-info" name="selectROLE" >
                           
                            <!-- <option value="" disabled selected hidden><%= user.role %></option> -->
                           <option value="" disabled selected hidden><%= user.role %></option>
                            <optgroup label="Switch Role"></optgroup>
                            <option name="user" value="<%= user._id %>$user">user</option>
                            <option name="admin" value="<%= user._id %>$admin">admin</option>
                            <option name="owner" value="<%= user._id %>$owner">owner</option>
                            <optgroup label="DELETE"></optgroup>
                            <option name="DELETE" value="<%= user._id %>$DELETE">DELETE</option>
                        
                    </select>
                    <input type="submit"/> 
                </form>
            </form>
            </td>
        </tr>
  
          
       <% }) %>


       </table>
   



  <form action="/return" method="post">
    <button type="submit" name="returnBtn" value="owner"> <-back to dashboard</button>
    </form>
</body>
</html>