
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
</head>
<body>
    <h1> Manage Users  </h1>
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <th> Email </th>
            
            <th> Update </th>

        </tr>
        <% ListOfUsers.forEach( function(user) {  %>
        <tr>
            <td><%= user.username %></td>
            

            <td> 
                <form  action="/ManageUsers" method="post">
                    <select class="selectpicker" data-style="btn-info" name="selectpicker" >
                           
                            <option value="" disabled selected hidden><%= user.role %></option>
                            <optgroup label="Switch Role"></optgroup>
                            <option name="user" value="<%= user._id %>$user">user</option>
                            <option name="admin" value="<%= user._id %>$admin">admin</option>
                            <option name="owner" value="<%= user._id %>$owner">owner</option>
                            <optgroup label="DELETE"></optgroup>
                            <option name="DELETE" value="<%= user._id %>$DELETE">DELETE</option>
                        
                    </select>
                    <input type="submit"/> 
                </form>
            </form>
            </td>
        </tr>
  




  

       
          
       <% }) %>

       </table>
   
</body>
</html>