<%- include('../partials/header'); %>
   <title>View Ticket</title>
</head>
<body class="blueBackground">

  <section>
    <header class="logOut">
      <form action="/logout" method="get">
        <a href="/logout"><strong>Log Out</strong></a>    
      </form>
      </header> 
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-16 col-md-12 col-lg-12 col-xl-12">
          <div class="card shadow-2-strong"  style="background-color: #f9f6f3c0; border-radius: 1rem;"> 
            <div class="card-body p-2 text-center">
  <h1>Ticket Summary</h1>

  <% if( role != 'user') { %> 

  
  <table class="table table-bordered">
    <tr style="background-color:#DEDDDC;">

     <form action="/filterTickets" method="post">
            <th>Title</th>
            <th>Description</th>
              <th>
                Urgency
              </th>
            <th>Created by</th>
            <th>Contact</th>
            <th>
             Status
            </th>
            <th>
               Date
           </th>
         
     </form> 
    </tr>
    <% tickets.forEach(function(ticket) {  %>
    <tr>
      <td> <%= ticket.title %></td>
      <td> <%= ticket.description %></td>
      <td> <%= ticket.urgency.substr(1) %></td>
      <td> <%= ticket.createdBy %></td>      
      <td> <%= ticket.contact %></td>


<!-- allow staff(owner / admin) to make changes to the ticket status  -->
   
        <td> 
       
            <form  action="/updateTicket" method="post">
                                <select class="selectpicker" data-style="btn-info" name="statusUpdate" >
                                    
                                    <option value="" disabled selected hidden><%=ticket.status %></option>
                                        <optgroup label="Update Status"></optgroup>
                                        <option name="complete" value="<%= ticket._id %>$<%=role %>$complete">complete</option>
                                        <option name="pending" value="<%= ticket._id %>$<%=role %>$pending">pending</option>
                                        <option name="submitted" value="<%= ticket._id %>$<%=role %>$submitted">submitted</option>
                                       
                                        <optgroup label="DELETE"></optgroup>
                                        <option name="DELETE" value="<%= ticket._id %>$<%=role %>$DELETE">DELETE</option>
                                    
                                </select>
                                <input type="submit" value="update" class="btn btn-secondary btn-sm" style="background-color: transparent; color:black"/> 
            </form>

        </td>
      <!-- <td> <%= ticket.status %></td> -->
      <td><%=ticket.createdAt.toString().substr(0,15) %></td> 
      <% }) %>

    </tr>
  </table>

  <% } else { %> 
    <% tickets.forEach(function(ticket) {  %>
       
     <form action="/UserUpdateTicket" method="post">
        <h4>Title</h4>
        <input type="text" name="title" placeholder="<%= ticket.title %>" />

        <h4>Description</h4>
        <input type="text" name="description" placeholder="<%= ticket.description %>" />
 
        <!-- <h3> <%= ticket.urgency.substr(1) %></h3> -->

        <h4>Created By</h4>
        <input type="text" name="createdBy" placeholder="<%= ticket.createdBy %>" />

        <h4>Contact</h4>
        <input type="text" name="contact" placeholder="<%= ticket.contact %>" />

        <br>
        <br>
        <button type="submit" name="update" class="btn btn-secondary btn-sm"style="background-color: transparent; color:black">save</button>

    </form>
        <% }) %>
    <% } %> 

  <br>
  <form action="/return" method="post">
      <button type="submit" name="returnBtn" value="<%=role%>" class="btn btn-secondary btn-sm" style="background-color:#9370db;"> <-back to dashboard</button>
  </form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

</body>
</html>
