<!--
    View Tickets
-->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>View Tickets</title>
   <style>
    *{
        text-align: center;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }

    </style>

</head>
<body>
  <h1>View Tickets</h1>
  <table>
    <tr style="background-color:#DEDDDC;">
      <th>Title</th>
      <th>Description</th>
      <th>Urgency</th>
      <th>Created by</th>
      <th>Contact</th>
      <th>Status</th>
      <th>Timestamp</th>
    </tr>
    <% tickets.forEach(function(ticket) {  %>
    <tr>
      <td> <%= ticket.title %></td>
      <td> <%= ticket.description %></td>
      <td> <%= ticket.urgency %></td>
      <td> <%= ticket.createdBy %></td>      
      <td> <%= ticket.contact %></td>
      <td> <%= ticket.status %></td>
      <td><%= ticket.createdAt %></td>
      <% }) %>
    </tr>
  </table>
  <form action="/createTicket" method="get">
    <button type="submit">Create a ticket</button>    
  </form>    
</body>
</html>
