<!--
    View Tickets
-->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>View Tickets</title>
   <style>
    *{
        text-align: center;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }

    </style>

</head>
<body>
  <h1>View Tickets</h1>
  <table>
    <tr style="background-color:#DEDDDC;">

     <form action="/filterTickets" method="post">
            <th>Title</th>
            <!-- <th>Description</th> -->
              <th>
                  <button name="option" value="urgency$<%=user%>"> Urgency</button>
              </th>
            <th>Created by</th>
            <th>Contact</th>

            <th>
              <button name="option" value="status$<%=user%>"> Status</button>
            </th>

            <th>
              <button name="option" value="date$<%=user%>"> Date</button>
            </th>


           
         
     </form> 
    </tr>
    <% tickets.forEach(function(ticket) {  %>
    <tr>
      <td> <%= ticket.title %></td>
      <!-- <td> <%= ticket.description %></td> -->
      <td> <%= ticket.urgency.substr(1) %></td>
      <td> <%= ticket.createdBy %></td>      
      <td> <%= ticket.contact %></td>
      <td> <%= ticket.status %></td>
      <td><%= ticket.createdAt %></td>
     
          <% if(role === 'owner'){ %>

          <td>
            <form action="/TicketSummary" method="post">
              <button type="submit" name="summary" value="<%= ticket._id %>$<%= role %>"> -> </button>
            </form>
          </td>
          <% } %> 
      <% }) %>

    </tr>
  </table>

  <% if(role === 'user'){ %>
  <form action="/createTicket" method="get">
    <button type="submit">Create a ticket</button>    
  </form>  
  <% } %>  

  <% if(role === 'owner'){ %>
    <form action="/ManageUsers" method="get">
      <button type="submit">Manage Users </button>    
    </form>  
    <% } %> 
</body>
</html>
