<%- include('../partials/header'); %>
   <title>View Tickets</title>
</head>
<body class="greenBackground ">

  <section>
    <header class="logOut">
      
      <form action="/logout" method="get">
        <a href="/logout"><strong>Log Out</strong></a>
      </form>    
      </header> 
    <div class="container py-6 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-16 col-md-14 col-lg-8 col-xl-9">
          <div class="card shadow-2-strong"  style="background-color: #f9f6f3c0; border-radius: 1rem;"> 
            <div class="card-body p-2 text-center">
            <h1>View Tickets</h1>
            <div class="mb-6" style="text-align: center;">
            <table  class="table table-bordered">
              <tr style="background-color:#DEDDDC; " >
                <form action="/filterTickets" method="post">
                      <th>Title</th>
                      <!-- <th>Description</th> -->
                        <th>
                            <button name="option"  class="btn btn-secondary btn-sm" value="urgency$<%=user%>" style="background-color: transparent; color:black"> Urgency</button>
                        </th>
                      
                      <th>Created by</th>

                      <th>
                        <button name="option" class = "btn btn-secondary btn-sm" value="status$<%=user%>" style="background-color: transparent; color:black"> Status</button>
                      </th>

                      <th>
                        <button name="option" class="btn btn-secondary btn-sm" value="date$<%=user%>" style="background-color: transparent;color:black "> Date</button>
                      </th>
                      <th></th>
                </form> 
              </tr>
    <% tickets.forEach(function(ticket) {  %>
    <tr>
      <td> <%= ticket.title %></td>
      <!-- <td> <%= ticket.description %></td> -->
      <td> <%= ticket.urgency.substr(1) %></td>
      <td> <%= ticket.createdBy %></td>      
      <td> <%= ticket.status %></td>
      <td><%= ticket.createdAt.toString().substr(0,15) %></td>
      <% if(role === 'user'){ %>
            <td>
              <form action="/editTicket" method="post">
                <button type="submit" class="btn btn-secondary btn-sm" name="IDandROLE" value="<%= ticket._id %>$<%= role %>" style="background-color: transparent; color:black"> edit </button>
              </form>
            </td>
      

       <% } else { %> 
        <td>
          <form action="/TicketSummary" method="post">
            <button type="submit" class="btn btn-success " name="summary" value="<%= ticket._id %>$<%= role %>" style="background-color: transparent;color:black "> See more </button>
          </form>
        </td> 
        
        <% } %>
    
      <% }) %>

    </tr>
    </table><br>
  <% if(role === 'user'){ %>
  <form action="/createTicket" method="get">
    <button class="btn btn-success " name="returnBtn" type="submit" style="background-color:#9370db;">Create a ticket</button>    
  </form>  
  <% } %>  

  <% if(role === 'owner'){ %>
    <form action="/ManageUsers" method="get">
      <button class="btn btn-success " name="returnBtn" type="submit" style="background-color:#9370db;">Manage Users </button>    
    </form>  
    <% } %> 

          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </section>
</body>
</html>
